@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&family=Rubik&display=swap');

.white{
    color: aliceblue;

}
.fuente{
    font-family: 'Rubik', sans-serif;
}

.fondo{
    background-image: url(./assets/XD.gif);
    background-size: 10%;
  
}
.zooom{
    zoom: 50%;
}